build
logs
.idea/
.gradle/
gradle/
gradlew
gradlew.bat
*.iml
#src/main/config/local
#/context.xml
#/config/
#/newrelic.jar
#/newrelic.yml
node_modules/
out/

# Ignore the app directory because it will be auto generated
src/main/resources/static/app/
application-development.yml
